/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #398ccb;
  --ifm-color-primary-dark: #317eb9;
  --ifm-color-primary-darker: #2e77af;
  --ifm-color-primary-darkest: #266290;
  --ifm-color-primary-light: #4e98d0;
  --ifm-color-primary-lighter: #589ed3;
  --ifm-color-primary-lightest: #77b0db;
  --ifm-code-font-size: 95%;
  --ifm-container-width: 1140px;
  --ifm-container-width-xl: 1320px;
  --ifm-navbar-shadow: none;
  --docsearch-key-shadow: none !important;
  --docsearch-footer-shadow: none !important;
  --docsearch-key-gradient: #f4f4f5 !important;}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root[data-theme='dark'] {
  --ifm-footer-background-color: #171717;
  --ifm-navbar-background-color: #111111;
  --ifm-background-color: #111111;
  --ifm-toc-border-color: rgb(39, 39, 42);
  --docsearch-modal-background: #18181b;
  --docsearch-footer-background: #18181b;
  --docsearch-searchbox-focus-background: #18181b;
  --docsearch-key-gradient: #27272a;
  --docsearch-key-shadow: none;
  --docsearch-key-gradient: #27272a !important;
  --docsearch-footer-shadow: none;
  --docsearch-hit-background: #27272a;
}
